body {
  font-family: sans-serif;
}

.watermark {
  position: fixed;
  bottom: 10px;
  right: 10px;
  opacity: 0.8;
  font-size: 30px;
  color: #1289ebbb;
  pointer-events: none;
  z-index: 1000;  /* Increase z-index to ensure visibility */
}